* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /*display: flex;*/
  /*text-align: center;*/
  justify-content: center;
  background: #0b1522;
}

.contenedor {
  display: block;
  margin: 0;
  padding: 0;
}
/*INICO AUDIO*/

audio{
  margin-top: 20px;
  margin-left: 30%;
  
  
}
/*FIN AUDIO*/

/*INICIO DE BANNER*/
#banner {

  width: 900px;
  height: 200px;
  border: 2px solid aqua;
  box-shadow: -5px 10px 3px rgb(79, 78, 78);
  align-items: center;
  line-height: 200px;
  border-radius: 20px;
  margin: 10px auto;
  overflow: hidden;

  /*background: url(../img/corazon.jpg);
    background-size: cover;*/


  .imagen {
    width: 100%;

    animation-name: mover-imagen;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

#banner h1 {
  position: relative;
  width: 1080px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(61, 59, 59);
  margin: 50px auto;
  z-index: 1;


  animation-name: mover-texto;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes mover-texto {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes mover-imagen {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(-80%);
  }
}

/*FIN DE BANNER*/

.cleax-fix {
  clear: both;
}

/*INICIO DE SLIDER*/
.slider {
  margin: auto;
  width: 900px;
  height: 500px;
  /*background: green;*/
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 9s;
}

@keyframes fade {
  from {
    opacity: .6
  }

  to {
    opacity: 1
  }
}

.text{
  background-color: black;
  width: 400px;
  margin-left: 30%;
  border-radius: 30px;

}
/*FIN DE SLIDER*/

/*INICIO BOTON*/
.boton {
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

button {
  margin: auto;
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  
}

/*FIN DE BOTON*/

/*INICO POPUP DE CORAZON LATIENDO*/
.corazon-popup{
  /*display: flex;*/
  margin: auto;
  width: 900px;
  height: 500px;
  background-color: purple;
  opacity: 0.3;
  border-radius: 30px;
  justify-content: center;
  position: fixed;
  top: 22%;
  right: 15%;

  /*para ocultar la ventana y darle vista con JS*/
  opacity: 0;
}

.modals {
  display: flex;
  height: 450px;
  width: 850px;
  margin: 10px auto;
  align-items: center;
  background-image: url(../img/fondo.jpg);
  border-radius: 30px;
  justify-content:space-around;
}

.heart {
  height: 150px;
  width: 150px;
  background-color: red;
  position: relative;
  transform: rotate(45deg);
  box-shadow: -20px 20px 150px #f20044;

  animation: palpitar 0.5s linear infinite alternate;
}

.heart::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background: red;
  right: 50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}

.heart::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background: red;
  top: -50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}

@keyframes palpitar {
  0% {
    transform: rotate(45deg) scale(1.10);
  }

  80% {
    transform: rotate(45deg) scale(1.0);
  }

  100% {
    transform: rotate(45deg) scale(0.8);
  }
}

.contenido {
  display: block;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  /*margin-right: 100px;*/
  overflow: hidden;
  width: 50%;
  color: white;
}

#maquina-escribir{
  border-right: 3px solid black;
  margin: 0;
}
/*FIN POPUP DE CORAZON LATIENDO*/



/*INICIO CORAZON LATIENDO - esto como prueba en ventana*/
/*
.corazon {
  display: flex;
  margin: auto;
  width: 900px;
  height: 500px;
  background-color: yellow;
  justify-content: center;
}

.modals {
  display: flex;
  height: 450px;
  width: 850px;
  margin: 10px auto;
  align-items: center;
  background: aqua;
  justify-content:space-around;
}

.heart {
  height: 150px;
  width: 150px;
  background-color: red;
  position: relative;
  transform: rotate(45deg);
  box-shadow: -20px 20px 150px #f20044;

  animation: palpitar 0.5s linear infinite alternate;
}

.heart::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background: red;
  right: 50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}

.heart::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background: red;
  top: -50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}

@keyframes palpitar {
  0% {
    transform: rotate(45deg) scale(1.10);
  }

  80% {
    transform: rotate(45deg) scale(1.0);
  }

  100% {
    transform: rotate(45deg) scale(0.8);
  }
}

.contenido {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 100px;
}
/*FIN CORAZON LATIENDO*/

/*BOTN CERRAR VENTANA*/
#cerrar{
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: gray;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  
}
#cerrar:hover{
  cursor: pointer;
}
/*FIN BOTON CERRAR VENTANA*/

